@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito:ital,wght@0,200;0,400;1,900&display=swap');


body{
	font-family:Arial, Helvetica, sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito', sans-serif;
}



.wrap_main {
	width: 1000px;
	margin: 0 auto;
}


/*	list place  */
listblock {
	display: flex;
	flex-direction: column;
}
.listplace {
	display: flex;
	margin: 20px 0;
	align-items: center;
}
.listplace__image {
	width: 500px;
	height: 300px;
	object-fit: cover;
}
.listplace__info{
	display: flex;
	flex-direction: column;
	padding: 50px;

}


.place{
	display: flex;
	margin: 0 0 50px 0;
}
.place__image {
	width: 50%;
	position: relative;
	min-height: 200px;
}
.place__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.place__info {
	padding: 30px;
}




.dish {
	display: flex;
}
.dish__image {
	width: 300px;
}
.dish__image img {
	max-width: 100%;
	object-fit: cover;
}
.dish__info {
	padding: 20px;
}


/* Promo */

.advert {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 20px;
	border: 1px solid #999;
	width: 650px;
}
.advert__image {
	height: 200px;
	width: 266px;
	object-fit: cover;
}
.advert__text {
	padding-left: 40px ;
	display: flex;
	flex-direction: column;
}
.advert__title {
	font-weight: bold;
	font-size: 20px;
}


/* Advert onePlace */
.promo {
	display: flex;

	align-items: center;
}
.advert__actions {
	margin-left: 100px;
	width: 50px;
}


.footer {
	margin: 0 auto;
	text-align: center;
}

.printQR {
	text-align: center;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="1"] {
  background: rgba(100, 100, 100, 0.3);
}

select option[value="2"] {
  background: rgba(150, 150, 150, 0.3);
}

/* форма для QR кода */
.qrstyleform__items {
	display: flex;
	margin: 0 auto;
}


.qrstyleform_dots, .qrstyleform__size, .qrstyleform__color, .qrstyleform__gradient {
	border: 1px dashed; #c9c9c9c;
	margin: 10px;
	padding: 10px;
}
@media print {
.qrstyleform {
display: none;
}
}