@font-face {
  font-family: 'icons';
  /*
  src:  url('../fonts/icons.eot?jobfwq');
  src:  
    url('../fonts/icons.eot?jobfwq#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?jobfwq') format('truetype'),
    url('../fonts/icons.woff?jobfwq') format('woff'),
    url('../fonts/icons.svg?jobfwq#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
  */
  
  src:  url('fonts/icons.eot?jobfwq');
  src:  
    url('fonts/icons.eot?jobfwq#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?jobfwq') format('truetype'),
    url('fonts/icons.woff?jobfwq') format('woff'),
    url('fonts/icons.svg?jobfwq#icons') format('svg');
  
  font-weight: normal;
  font-style: normal;
  font-display: block;


[class^="icon_"]::before, 
[class*=" icon_"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_square-plus:before {
  content: "\e900";
}
.icon_clock:before {
  content: "\e901";
}
.icon_users:before {
  content: "\e902";
}
.icon_coins:before {
  content: "\e903";
}
.icon_wallet:before {
  content: "\e904";
}
.icon_utensils:before {
  content: "\e905";
}
.icon_circle-down:before {
  content: "\e906";
}
.icon_circle-up:before {
  content: "\e907";
}
.icon_truck-fast:before {
  content: "\e908";
}
.icon_square-instagram:before {
  content: "\e909";
}
.icon_viber:before {
  content: "\e90a";
}
.icon_telegram:before {
  content: "\e90b";
}
.icon_whatsapp:before {
  content: "\e90c";
}
.icon_wifi:before {
  content: "\e90d";
}
.icon_location-dot:before {
  content: "\e90e";
}
.icon_circle-xmark:before {
  content: "\e90f";
}
.icon_email:before {
  content: "\e910";
}
.icon_email-solid:before {
  content: "\e911";
}
.icon_phone-solid:before {
  content: "\e912";
}
.icon_instagram:before {
  content: "\e913";
}
.icon_facebook:before {
  content: "\e914";
}
.icon_restaurant_logo:before {
  content: "\e915";
}
.icon_restaurant_drink:before {
  content: "\e916";
}
.icon_dinner_icon:before {
  content: "\e917";
}
.icon_message-regular:before {
  content: "\e918";
}
.icon_clock-solid:before {
  content: "\e919";
}
.icon_heart-circle-plus:before {
  content: "\e91a";
}
.icon_circle-plus:before {
  content: "\e91b";
}
.icon_plus:before {
  content: "\e91c";
}
.icon_triangle-alert:before {
  content: "\e91d";
}
.icon_star:before {
  content: "\e91e";
}
.icon_star-solid:before {
  content: "\e91f";
}
.icon_circle-info:before {
  content: "\e920";
}
.icon_eye-slash:before {
  content: "\e921";
}
.icon_logout:before {
  content: "\e922";
}
.icon_login:before {
  content: "\e923";
}
.icon_edit:before {
  content: "\e924";
}
.icon_percent:before {
  content: "\e925";
}
.icon_heart:before {
  content: "\e926";
}
.icon_heart-solid:before {
  content: "\e927";
}
.icon_toggle-off:before {
  content: "\e928";
}
.icon_toggle-on:before {
  content: "\e929";
}
.icon_help-info:before {
  content: "\e92a";
}
