.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #F95A01;
    font-style: italic;
}

h3 {
/*    color:#F95A01;*/
    color: #635B4F;
}

.header__logo {
    width: 200px;
}

.bread_crumbs {
    border-top: 3px solid #FFD392;
    padding: 15px 0;
}
.bread_crumbs a {
    color:#61483A;
    padding:0 10px ;
}

.dish {
    display: flex;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
    box-shadow: 1px 1px 15px #9c9c9c;
}

.placeinfo__contacts {
    display: flex;
    color:#666;
    flex-wrap: wrap;
}

.placeinfo__contacts p {
    padding-right: 50px;
}


/* one place */
.oneplace {
    display: flex;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    margin: 30px 0;
    padding: 10px;
}
.oneplace h3 {
    color:#F95A01;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
.oneplaceimg {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
.oneplace__image {
    flex:1 0 50%;
}
.oneplace__info, .place__info  {
    flex: 1 1 50%;
    padding: 30px;
    color:#555;
    font-size: 1.2rem;
    line-height: 2;
}
.oneplace__info h3 a {
    color:#F95A01;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

/* bread_crumbs */
.bread_crumbs__page {
    font-weight: bold;
    color: #61483A;
}



/* home my Places */
.place__actions {
    background-color: #eee;
    color: #61483A;
    padding: 30px;
    margin: 20px 0;

}
.place__actions a {
    color: #332D29;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}
.place__actions a:hover {
    text-decoration: underline;
}
.manager_highlight {
    color: #61483A;
    font-weight: bold;
}

/* placeAds */

.link_btn {
    color: #61483A;
    font-weight: bold;
}
.link_btn:hover{
    color: #332D29;
    
}

.statusOff {
    padding: 0 10px;
    text-decoration: none;
    color: #332D29;
    font-weight: bold;
}
.statusOff:hover {
    text-decoration: underline;
}
.statusOn{
    padding: 0 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
}
.adv__actions a {
    color: #332D29;
    font-weight: bold;
}


/* forms Dish, Places */
.form__wrapper {
    max-width: 750px;
    background-color: #f5f5f5;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    color: #61483A;
}
.form__line {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    font-weight: bold;
}
.form__line > label {
    flex: 1;
    padding: 8px 16px 8px 0;
}
.form__line > input, select, textarea {
    flex: 2;
    padding: 8px;
}
.form__button {
    background-color: #666;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}


/* style placeholders */
::placeholder {
  color: #9c9c9c;
  font-size: 0.9em;
}
/* hide placeholder in inputs */
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-webkit-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

.requared_input {
    text-decoration: underline;
    color: #333;
}

.link_brown {
    color: #332F29;
/* color: #61483A;*/
}


/*
Кнопка вверх для меню
*/
.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #F95A01;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #F95A01; /* цвет заднего фона при наведении */
  }
}

/*
Аккордеон для якорних ллінків в меню
*/
.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("../images/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  /* display: none; */
  height: 50px;
  overflow:hidden;
}
.accordion__header h2::after {
    background-image: url("../images/caret-down-fill.svg");
background-repeat: no-repeat;
background-size: 1.25rem;
}


/**/



.accordion__item {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #fff;
  font-weight: 500;
  background-color: #ccc;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("../images/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__header:hover {
  background-color: #eee;
}

.accordion__item_hidden .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__body {
  padding: 1rem 2rem;
  overflow: hidden;
  background: #fff;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}
