
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito:ital,wght@0,200;0,400;1,900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	margin:	0;
	padding: 0;
	box-sizing: border-box;
}


body{
/*	font-family:Arial, Helvetica, sans-serif;
	font-family: 'Montserrat', sans-serif;	*/

	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Roboto', sans-serif;

}

/* footer донизу */
html, body {
	height: 100%;
}
.wrap {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex:1 1 auto;
}

h1 {
    color: #F95A01;
}
h1 a {
	 color: #F95A01;
}


h2 {
	color:#61483A;
}

h3 {
/*    color:#F95A01;*/
    color: #635B4F;
}



.btn_m {
	display: inline-block;
	padding: 10px 40px;
	border: 1px solid #666;
	border-radius: 10px;
	margin: 15px 0;
	text-decoration: none;
	text-align: center;
	color:#fff;
	background-color: #666;
	font-weight: bold;
}

.btn_m:hover {
	background-color: #333;
}
.btn_exit {
	padding: 3px 5px;
	background-color: #666;
	color: #fff;
	font-weight: bold;
	border: 0px;
	cursor: pointer;
}
.btn_exit:hover {
	background-color: #999;
}
.toppanel {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 35px;
	padding: 0 30px;
/*	background-color:#FFD392;*/
	background-color: #FCAB30;

	color:#fff;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}
.toppanel a {
	color: #fff;
	font-weight: bold;
}

.slogan_img {

	width: 50px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
	padding: 20px;

}
.header__logo {
	max-width: 350px;
}
.header h1{
	color:#F95A01;
}


.bread_crumbs {
    border-top: 3px solid #FFD392;
    padding: 15px 0;
}
.bread_crumbs a {
    color:#61483A;
    padding:0 10px ;
}
/* bread_crumbs */
.bread_crumbs__page {
    font-weight: bold;
    color: #61483A;
}





.dish {
    display: flex;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
    box-shadow: 1px 1px 15px #9c9c9c;
}

.placeinfo__contacts {
    display: flex;
    color:#666;
    flex-wrap: wrap;
}

.placeinfo__contacts p {
    padding-right: 50px;
}


/* navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-top: 3px solid #FCAB30 ;
	padding: 15px;
}
.navbar  a {
	color: #967E59; /* #F95A01 */
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
}
.navbar a:hover{
	text-decoration: underline;
}
/* 
NOTE!!!
This rule in viewmenu.blade.php page for disable "navbar" in menu page
	.navbar {
		display: none !important; /// !important
	}
 */
}


/*	list place  */
listblock {
	display: flex;
	flex-direction: column;
}
.listplace {
	display: flex;
	margin: 20px 0;
	align-items: center;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #c9c9c9;
}
.listplace__info h3 a{
	font-size: 1.6rem;
	font-style: italic;
/*	color:#C76228;*/
color: #F95A01;
	text-decoration: none;
}

.listplace__image {
	width: 500px;
	height: 300px;
	object-fit: cover;
}
.listplace__info{
	display: flex;
	flex-direction: column;
	padding: 50px;
	line-height: 2;

}
.place_promos_link {
	color:#61483A;
	text-decoration: none;
}
.place_promos_link:hover {
	text-decoration: underline;
}


.place{
	display: flex;
	margin: 0 0 50px 0;
}
.place__image {
	position: relative;
	min-height: 200px;
}
.place__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.place__info {
	padding: 30px;
	flex: 1 0 50%;
	line-height: 2;
}


/* Form add_place */
.error_field {
	background-color: #ff050526;
}
.alert_text {
	color:red;
}

/* menu */

.place__menuinfo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 0;
}
.place__menuinfo > p {
	font-weight: bold;
	color: #666;
	padding: 5px;
	flex: 1 0 50%;
}
.place__menuinfo a {
	color: #666;
	
}

.menulist h2 {
	text-align: right;
}
.dish {
	display: flex;
}
.dish__image {
	width: 300px;
}
.dish__image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.dish__info {
	padding: 20px;
	flex: 2 0; /*flex-grow, shrink, basis*/
}
.dish__info h4 {
	color: #332F29;
	padding: 20px 0;
	font-size: 1.6rem;
}
.dish__info > p {
	color: #635B4F;
	line-height: 1.5;
}
.dish__cost {
	color: #F95A01;
	font-size: 1.8rem;
	font-weight: bolder;
	padding: 50px;
}
.dish__actions > a {
	text-decoration: none;
	color: #635B4F ;
	padding: 5px;
}

.toplist__logo{
	font-weight: bold;
	color:orangered;
	padding: 5px;
}


/* oneplace  */

.oneplace {
    display: flex;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    margin: 30px 0;
    padding: 10px;
}
.oneplace h3 {
    color:#F95A01;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
.oneplaceimg {
    object-fit: cover;
    width: 100%;
/*    height: 500px;*/
    border-radius: 10px;
}
.oneplace__image {
    flex:1 0 50%;
}
.oneplace__info, .place__info  {
    flex: 1 1 50%;
    padding: 30px;
    color:#555;
    font-size: 1rem;
    line-height: 2;
}
.oneplace__info h3 a {
    color:#F95A01;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}



.anchor_links {
	padding: 30px;
}
.anchor_links li {
	list-style-image: url(../images/star.svg);
}
.anchor_links a {
	line-height: 2;
	font-size: 1.2rem;
	padding: 10px;
}


/* Promo */

.advert {
	display: flex;
	flex: 0 1 75%;
	align-items: center;
	padding: 10px;
	margin: 20px;
	border: 1px solid #999;
}
.advert__image {
	height: 200px;
	width: 266px;
	object-fit: cover;
}
.advert__text {
	padding-left: 40px ;
	flex: 1 0 33%;
}
.advert__title {
	font-weight: bold;
	font-size: 20px;
	padding: 20px 0;
}

/* Promo Table for Tarifs */
.tarifs {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.tarif__block {
	flex: 1 1 25%;
	padding: 30px;
	margin: 20px;
	border: 1px solid #9c9c9c ;
	line-height: 2;
	box-shadow: 0 0 20px #999;
	min-height: 100%;
	display:flex;
	flex-direction: column;
}
.tarif__block h3 {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.tarif__info {
 padding: 0 0 20px 0;
}
.tarif__radiogroup {
	margin-top:auto;
}
.btn_submit {
	padding: 10px 20px;
	margin: 20px 0;
  border-radius: 10px;
}



/* Advert onePlace */
.promo {
	display: flex;

	align-items: center;
}
.advert__actions {
	margin-left: 100px;
	width: 50px;
	flex: 1 0 33%;
}

.menu__qrcode {
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}

.footer {
	text-align: center;
	background-color: #333;
	color:#fff;
}
.footer .container {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	text-align: left;
}
.footer a {
	color: #fff;
}

.printQR {
	text-align: center;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="1"] {
  background: rgba(100, 100, 100, 0.3);
}

select option[value="2"] {
  background: rgba(150, 150, 150, 0.3);
}



/* home my Places */
.place__actions {
    background-color: #eee;
    color: #61483A;
    padding: 30px;
    margin: 20px 0;

}
.place__actions a {
    color: #332D29;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.2rem;
}
.place__actions a:hover {
    text-decoration: none;
}
.green_element {
    color:green;
}

.manager_highlight {
    color: #61483A;
    font-weight: bold;
}

/* placeAds */

.link_btn {
    color: #61483A;
    font-weight: bold;
}
.link_btn:hover{
    color: #332D29;
    
}

.statusOff {
    padding: 0 10px;
    text-decoration: none;
    color: #332D29;
    font-weight: bold;
}
.statusOff:hover {
    text-decoration: underline;
}
.statusOn{
    padding: 0 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
}
.adv__actions a {
    color: #332D29;
    font-weight: bold;
}


/* forms Dish, Places */
.form__wrapper {
    max-width: 750px;
    background-color: #f5f5f5;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    color: #61483A;
}
.form__line {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    font-weight: bold;
}
.form__line > label {
    flex: 1;
    padding: 8px 16px 8px 0;
}
.form__line > input, select, textarea {
    flex: 2;
    padding: 8px;
}
.form__button {
    background-color: #666;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}


/* style placeholders */
::placeholder {
  color: #9c9c9c;
  font-size: 0.9em;
}
/* hide placeholder in inputs */
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-webkit-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

.requared_input {
    text-decoration: underline;
    color: #333;
}

.link_brown {
    color: #332F29;
/* color: #61483A;*/
}


/*
Кнопка вверх для меню
*/
.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #F95A01;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #F95A01; /* цвет заднего фона при наведении */
  }
}

/*
Аккордеон для якорних ллінків в меню
*/
.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("../images/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  /* display: none; */
  height: 50px;
  overflow:hidden;
}
.accordion__header h2::after {
    background-image: url("../images/caret-down-fill.svg");
background-repeat: no-repeat;
background-size: 1.25rem;
}


/**/



.accordion__item {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #fff;
  font-weight: 500;
  background-color: #ccc;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("../images/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__header:hover {
  background-color: #eee;
}

.accordion__item_hidden .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__body {
  padding: 1rem 2rem;
  overflow: hidden;
  background: #fff;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}


/* Pages, Rules, FAQs */
.textinfo {
	font-size: 1.2rem;
	padding: 40px;
}
.textinfo h3 {padding: 10px, 0}
.textinfo p {
	padding: 20px;
	line-height: 1.5;
}






/* @media Breake points  */
@media (max-width: 768px) {
	body {
		0.9rem;
	}
	h1 {
		font-size: 1.3rem;
	}
	.container {
		width: 100%;
		max-width: none;
		padding: 10px;
	}
	.toppanel {
		font-size: 0.9rem;
	}
	.header__logo {
		width: 200px;
	}

	.listplace {
		flex-direction: column;
	}
	.listplace__image {
		width: 100%;
	}
	.dish {
		flex-direction: column;
	}

	/*promo page*/
	.advert {
		flex-direction: column;
	}


/*oneplace*/
	.oneplace {
		flex-direction: column;
	}
	.oneplaceimg {
		height: auto;
	}
/* forms */
	.form__line{
		flex-direction: column;
	}
	

	.footer {
		line-height: 2;
	}
	.footer .container{
		flex-direction: column;
	}
	.footer .container > div {
		padding: 20px;
	}

}

@media (max-width: 600px) {
	.header__logo {
		width: 150px;
	}
	.place__menuinfo {
		/ * display: none; */
	}
}

@media (max-width: 420px) {
	.header {
		padding: 10px;
	}
	.bread_crumbs {
		display:none;
	}
	.dish__image img {
		width: 288px;
	}

	.dish__cost {
		font-size: 1.7rem;
		padding: 20px;
	}

	.menu__qrcode{
		padding: 0;
	}


}

@media (max-width: 320px) {
	.advert__image {
		width: 250px;
	}
}











/* страница для печати */
@media print {
    .noprint { display: none; }
}