
.wrap_main {
	width: 1000px;
	margin: 0 auto;
}

.dish {
	display: flex;
}
.dish__image {
	width: 300px;
}
.dish__image img {
	max-width: 100%;
	object-fit: cover;
}
.dish__info {
	padding: 20px;
}


.footer {
	margin: 0 auto;
	text-align: center;
}

.printQR {
	text-align: center;
}