
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito:ital,wght@0,200;0,400;1,900&display=swap');

* {
	margin:	0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family:Arial, Helvetica, sans-serif;
	font-family: 'Montserrat', sans-serif;
}

/* footer донизу */
html, body {
	height: 100%;
}
.wrap {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex:1 1 auto;
}


h2 {
	color:#61483A;
}


.btn_m {
	display: inline-block;
	padding: 10px 40px;
	border: 1px solid #666;
	border-radius: 10px;
	margin: 15px 0;
	text-decoration: none;
	text-align: center;
	color:#fff;
	background-color: #666;
	font-weight: bold;
}

.btn_m:hover {
	background-color: #333;
}
.btn_exit {
	padding: 3px 5px;
	background-color: #666;
	color: #fff;
	font-weight: bold;
	border: 0px;
	cursor: pointer;
}
.btn_exit:hover {
	background-color: #999;
}
.toppanel {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 35px;
	padding: 0 30px;
/*	background-color:#FFD392;*/
	background-color: #FCAB30;

	color:#fff;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}
.toppanel a {
	color: #fff;
	font-weight: bold;
}

.slogan_img {

	width: 50px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	text-align: center;
	padding: 20px;

}
.header__logo {
	max-width: 350px;
}
.header h1{
	color:#F95A01;
}

/* navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-top: 3px solid #FCAB30 ;
	padding: 15px;
}
.navbar  a {
	color: #967E59; /* #F95A01 */
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
}
/* 
NOTE!!!
This rule in viewmenu.blade.php page for disable "navbar" in menu page
	.navbar {
		display: none !important; /// !important
	}
 */
}


/*	list place  */
listblock {
	display: flex;
	flex-direction: column;
}
.listplace {
	display: flex;
	margin: 20px 0;
	align-items: center;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #c9c9c9;
}
.listplace__info h3 a{
	font-size: 1.6rem;
	font-style: italic;
/*	color:#C76228;*/
color: #F95A01;
	text-decoration: none;
}

.listplace__image {
	width: 500px;
	height: 300px;
	object-fit: cover;
}
.listplace__info{
	display: flex;
	flex-direction: column;
	padding: 50px;
	line-height: 2;

}
.place_promos_link {
	color:#61483A;
	text-decoration: none;
}
.place_promos_link:hover {
	text-decoration: underline;
}


.place{
	display: flex;
	margin: 0 0 50px 0;
}
.place__image {
	position: relative;
	min-height: 200px;
}
.place__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.place__info {
	padding: 30px;
	flex: 1 0 50%;
	line-height: 2;
}


/* menu */

.place__menuinfo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 0;
}
.place__menuinfo > p {
	font-weight: bold;
	color: #666;
	padding: 5px;
	flex: 1 0 50%;
}

.menulist h2 {
	text-align: right;
}
.dish {
	display: flex;
}
.dish__image {
	width: 300px;
}
.dish__image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.dish__info {
	padding: 20px;
	flex: 2 0; /*flex-grow, shrink, basis*/
}
.dish__info h4 {
	color: #332F29;
	padding: 20px 0;
	font-size: 1.6rem;
}
.dish__info > p {
	color: #635B4F;
	line-height: 1.5;
}
.dish__cost {
	color: #F95A01;
	font-size: 1.8rem;
	font-weight: bolder;
	padding: 50px;
}
.dish__actions > a {
	text-decoration: none;
	color: #635B4F ;
	padding: 5px;
}




.anchor_links {
	padding: 30px;
}
.anchor_links li {
	list-style-image: url(../images/star.svg);
}
.anchor_links a {
	line-height: 2;
	font-size: 1.2rem;
	padding: 10px;
}


/* Promo */

.advert {
	display: flex;
	flex: 0 1 75%;
	align-items: center;
	padding: 10px;
	margin: 20px;
	border: 1px solid #999;
}
.advert__image {
	height: 200px;
	width: 266px;
	object-fit: cover;
}
.advert__text {
	padding-left: 40px ;
	flex: 1 0 33%;
}
.advert__title {
	font-weight: bold;
	font-size: 20px;
	padding: 20px 0;
}


/* Advert onePlace */
.promo {
	display: flex;

	align-items: center;
}
.advert__actions {
	margin-left: 100px;
	width: 50px;
	flex: 1 0 33%;
}

.menu__qrcode {
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}

.footer {
	text-align: center;
	background-color: #333;
	color:#fff;
}
.footer .container {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	text-align: left;
}
.footer a {
	color: #fff;
}

.printQR {
	text-align: center;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="1"] {
  background: rgba(100, 100, 100, 0.3);
}

select option[value="2"] {
  background: rgba(150, 150, 150, 0.3);
}

/* @media Breake points  */
@media (max-width: 767px) {
	.container {
		width: 100%;
		max-width: none;
		padding: 10px;
	}

	.header__logo {
		width: 50%;
	}

	.listplace {
		flex-direction: column;
	}
	.listplace__image {
		width: 100%;
	}
	.dish {
		flex-direction: column;
	}

	/*promo page*/
	.advert {
		flex-direction: column;
	}

}

/* страница для печати */
@media print {
    .noprint { display: none; }
}